# my non-source controlled information

# personal gmail
email.personal.name = Ian
email.personal.address = ?
email.personal.password = ?
email.personal.client-id = ?
email.personal.client-secret = ?
email.personal.refresh-token = ?

# professional gmail
email.professional.name = Ian Clark
email.professional.address = ?
email.professional.password = ?
email.professional.client-id = ?
email.professional.client-secret = ?
email.professional.refresh-token = ?