-- Conky, a system monitor https://github.com/brndnmtthws/conky
--
-- This configuration file is Lua code. You can write code in here, and it will
-- execute when Conky loads. You can use it to generate your own advanced
-- configurations.
--
-- Try this (remove the `--`):
--
--   print("Loading Conky config")
--
-- For more on Lua, see:
-- https://www.lua.org/pil/contents.html
--
-- Conky Lua API: https://conky.cc/lua

-- Configuration settings: https://conky.cc/config_settings
conky.config = {
    alignment = 'top_left',
    background = false,
    border_width = 1,
    cpu_avg_samples = 2,
    default_color = 'grey',
    default_outline_color = 'white',
    default_shade_color = 'white',
    double_buffer = true,
    draw_borders = false,
    draw_graph_borders = true,
    draw_outline = false,
    draw_shades = false,
    extra_newline = false,
    font = 'DejaVu Sans Mono:size=10',
    gap_x = 1940,
    gap_y = 20,
    lua_load = './conky.lua',
    minimum_height = 5,
    minimum_width = 405,
    net_avg_samples = 2,
    no_buffers = true,
    out_to_console = false,
    out_to_ncurses = false,
    out_to_stderr = false,
    out_to_wayland = false,
    out_to_x = true,
    own_window = true,
    own_window_class = 'Conky',
    own_window_type = 'normal',
    own_window_hints = 'undecorated,sticky,below,skip_taskbar,skip_pager',
    show_graph_range = false,
    show_graph_scale = false,
    stippled_borders = 0,
    update_interval = 1.0,
    uppercase = false,
    use_spacer = 'none',
    use_xft = true,
}

-- MAGIC NUMBERS
-- 0.000008: conversation factor for Bps to mbps
-- 15000000: 120mbps into Bps
-- 1250000:   10mbps into Bps

-- TEMPLATES

-- Variables: https://conky.cc/variables
conky.text = [[
${color orange}$nodename${color grey}${alignr}${time %Y-%m-%d}
${alignc}Usage
${lua title CPU}${alignr 150}${lua value ${cpu}}%${goto 215}${lua title MEM}${alignr}${lua value ${memperc}}%
${cpugraph cpu0 50,200 green red 1 -t} ${memgraph 50,200 green red 1 -t}


${alignc}Temperature
${lua title CPU}${alignr 80}${lua value ${lua temp_cpu}}c ${lua title GPU (todo)}${alignr}${lua value ?} 
${lua_graph temp_cpu 50,200 green red 100 -t}
${lua title Mobo}${alignr 140}${lua value ${lua temp_mobo}}c ${lua title SSD}${alignr}${lua value ${lua temp_nvme}}c
${lua_graph temp_mobo 50,200 green red 100 -t} ${lua_graph temp_nvme 50,200 green red 100 -t}

${alignc}IO
${lua title WLAN Down}${alignr 100}${lua value ${lua convert ${to_bytes ${downspeed wlp5s0}} 0.000008 0}}mb ${lua title WLAN Up}${alignr}${lua value ${lua convert ${to_bytes ${upspeed wlp5s0}} 0.000008 0}}mb
${downspeedgraph wlp5s0 50,200 green cyan 15000000 -t} ${upspeedgraph wlp5s0 50,200 green cyan 1250000 -t}
${lua title SSD Read}${alignr 110} ${lua title SSD Write}
${diskiograph_read 50,200 green cyan -t} ${diskiograph_write 50,200 green cyan -t}

${alignc}Misc
File Systems:
 / ${fs_used_perc /}% ${fs_bar 12,50 /}

Net: ${wireless_essid wlp5s0} (${wireless_link_qual wlp5s0}%) ${wireless_link_bar 12,50 wlp5s0}
VPN: TODO

$hr
acpitemp: $acpitemp
]]
